.PrimaryButton {
    background-color: #FBF8F1;
    margin: auto;
    position: absolute;
    color: #262623;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    border: none;
    }

.PrimaryButton:hover {
    background-color: #262623;
    color: #FBF8F1;
    }