
.custom-paging { 
  width: 40px;
  height: 10px;
  margin: 20px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: #908F8A;
  border: 3px #262623 solid;
}

.slick-active > .custom-paging { 
 background-color: #FBF8F1;
}

