.OtherCategories{
    width: 300px;
    height: 375px;
}

.OtherLines:hover {
    opacity: 0.3;
}
    
.OtherLines {
    width: 300px;
    height: 375px;
    cursor:pointer;
}

.CategoriesName{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FBF8F1;
    padding: 8px 80px 8px 80px;
    margin-top: 4px;
    margin-bottom: 48px;
    border-radius: 0;
}

.CategoriesName:hover{
    background-color: #FBF8F1;
    color: #262623;
}