.link {
    text-decoration: underline;
    color: #FBF8F1; 
}

.nav-link , .nav-link:disabled {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FBF8F1 !important; 
}

.socialmedia {
    margin-top: 80px;
    justify-content: center;
}

.copyrights , .importantlinks{
    justify-content: center;
}